{% extends "layout.html" %}

{% block content %}
<h1>Smilaski Home Stereo</h1>

<form method="post" action="/edit" enctype="application/json">
    {% for zone in zones %}
    <div class="grid zone-edit-wrap">
        <div class="col-1-3 form-control" data-zone="{$ zone.id $}">
            <label for="zone_{$ zone.id $}_name">Zone Name</label>
            <input type="text" name="zone_{$ zone.id $}_name" value="{$ zone.name $}"} />
        </div>
        <div class="col-1-3 form-control">
            <label for="zone_{$ zone.id $}_port1">Port #1</label>
            <input type="number" name="zone_{$ zone.id $}_port1" value="{$ zone.ports[0] $}" />
        </div>
        <div class="col-1-3 form-control">
            <label for="zone_{$ zone.id $}_port2">Port #2</label>
            <input type="number" name="zone_{$ zone.id $}_port2" value="{$ zone.ports[1] $}" />
        </div>
    </div>
    {% endfor %}
    
    <div class="port-info">
        <label>Valid Ports Include</label>
        <span>
        {% for p in ports %}
        {$ p $},
        {% endfor %}
        </span>
    </div>

    <div class="save-wrap">
        <button type="submit" class="btn">Save Changes</button>
        <a href="/" class="cancel">cancel</a>
    </div>
</form>


{% endblock content %}
{% block scripts %}
    <script>
    Edit();
    </script>
{% endblock scripts %}