{% extends "layout.html" %}

{% block content %}
<h1>Smilaski Home Stereo</h1>

<form method="post" action="/toggle">
    <div class="grid">
        {% for zone in zones %}
        <div class="toggle-wrap col-1-2">
            <h4>{$ zone.name $}</h4>
            <button class="btn {% if zone.isOn %}enabled{% endif %}" value="{$ zone.id $}" name="switchIx"></button>
        </div>
        {% endfor %}
    </div>
</form>


{% endblock content %}
{% block scripts %}
    <script>
    Main();
    </script>
{% endblock scripts %}