body {
    font-family: 'Exo 2', sans-serif;
    color: #222;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
#background-container {
    background-image: url(../images/seigaiha.png);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    z-index: 0;
}
h1 {
    font-weight: 100;
    font-size: 56px;
}

.page-container {
    max-width: 748px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
    position: relative;
    min-height: 100vh;
}
.grid {
    min-width: 0;
}

.toggle-wrap button {
    display: inline-block;
    border: 0;
    background: #b35454;
    width: 75px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    transition: background .3s linear;
}
.toggle-wrap button,
.toggle-wrap button:active,
.toggle-wrap button:focus {
    outline: 0;
}
.toggle-wrap button:after {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    background: white;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    box-shadow: 0 0 2px #730a0a;
    transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1);
}
.toggle-wrap button.enabled {
    background: #54a254;
}
.toggle-wrap button.enabled:after {
    box-shadow: 0 0 2px #1a5a2f;
    transform: translateX(44px);
}

.edit-link {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    height: 30px;
}

.form-control {
    text-align: left;
}

.form-control label {
    display: block;
    text-align: left;
    color: #777;
    font-size: 13px;
}
.form-control input {
    border: 1px solid #eee;
    padding: 5px;
    font-size: 17px;
    color: #333;
    font-family: 'Exo 2', sans-serif;
}

.zone-edit-wrap {
    margin-bottom: 20px;
}
.btn {
    background: rgb(41, 123, 79);
    border: 0;
    font-size: 18px;
    font-family: 'Exo 2';
    padding: 10px 15px;
    color: white;
}
.cancel {
    color: #b93255;
}

@media (max-width: 480px) {
    .page-container {
        width: 100%;
    }
    h1 {
        font-size: 28px;
        margin: 0;
    }
}